In [25]:
"""終値を格納する"""
import datetime

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader
import sklearn
import sklearn.linear_model
import sklearn.model_selection

df_aapl = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2020-01-01')

df_aapl['changing'] = (((df_aapl['Close'] - df_aapl['Open'])) / (df_aapl['Open']) * 100)
df_aapl ['label'] = df_aapl['Close'].shift(-30)
df_aapl.tail(35)

,High,Low,Open,Close,Volume,Adj Close,changing,label
Date,,,,,,,,
2022-01-11,175.179993,170.820007,172.320007,175.080002,76138300.0,174.600693,1.601668,162.740005
2022-01-12,177.179993,174.820007,176.119995,175.529999,74805200.0,175.049454,-0.334997,164.850006
2022-01-13,176.619995,171.789993,175.779999,172.190002,84505800.0,171.718597,-2.042324,165.119995
2022-01-14,173.779999,171.089996,171.339996,173.070007,80440800.0,172.596207,1.009695,163.199997
2022-01-18,172.539993,169.410004,171.509995,169.800003,90956700.0,169.335144,-0.997021,166.559998
2022-01-19,171.080002,165.940002,170.000000,166.229996,94815000.0,165.774918,-2.217650,NaN
2022-01-20,169.679993,164.179993,166.979996,164.509995,91420500.0,164.059616,-1.479220,NaN
2022-01-21,166.330002,162.300003,164.419998,162.410004,122848900.0,161.965378,-1.222476,NaN
2022-01-24,162.300003,154.699997,160.020004,161.619995,162294600.0,161.177521,0.999869,NaN
2022-01-25,162.759995,157.020004,158.979996,159.779999,115798400.0,159.342575,0.503210,NaN
2022-01-26,164.389999,157.820007,163.500000,159.690002,108275300.0,159.252823,-2.330274,NaN
2022-01-27,163.839996,158.279999,162.449997,159.220001,121954600.0,158.784119,-1.988302,NaN
2022-01-28,170.350006,162.800003,165.710007,170.330002,179935700.0,169.863693,2.788000,NaN
2022-01-31,175.000000,169.509995,170.160004,174.779999,115541600.0,174.301514,2.715089,NaN
2022-02-01,174.839996,172.309998,174.009995,174.610001,86213900.0,174.131973,0.344811,NaN
2022-02-02,175.880005,173.330002,174.750000,175.839996,84914300.0,175.358612,0.623746,NaN
2022-02-03,176.240005,172.119995,174.479996,172.899994,89418100.0,172.426651,-0.905549,NaN
2022-02-04,174.100006,170.679993,171.679993,172.389999,82465400.0,172.137085,0.413564,NaN
2022-02-07,173.949997,170.949997,172.860001,171.660004,77251200.0,171.408157,-0.694202,NaN
2022-02-08,175.350006,171.429993,171.729996,174.830002,74829200.0,174.573502,1.805163,NaN
2022-02-09,176.649994,174.899994,176.050003,176.279999,71285000.0,176.021378,0.130642,NaN
2022-02-10,175.479996,171.550003,174.139999,172.119995,90865900.0,171.867477,-1.159989,NaN
2022-02-11,173.080002,168.039993,172.330002,168.639999,98670700.0,168.392593,-2.141242,NaN
2022-02-14,169.580002,166.559998,167.369995,168.880005,86185500.0,168.632233,0.902199,NaN
2022-02-15,172.949997,170.250000,170.970001,172.789993,62527400.0,172.536499,1.064510,NaN
2022-02-16,173.339996,170.050003,171.850006,172.550003,61177400.0,172.296860,0.407330,NaN
2022-02-17,171.910004,168.470001,171.029999,168.880005,69589300.0,168.632233,-1.257086,NaN
2022-02-18,170.539993,166.190002,169.820007,167.300003,82772700.0,167.054550,-1.483927,NaN
2022-02-22,166.690002,162.149994,164.979996,164.320007,91162800.0,164.078934,-0.400041,NaN
2022-02-23,166.149994,159.750000,165.539993,160.070007,90009200.0,159.835175,-3.304329,NaN
2022-02-24,162.850006,152.000000,152.580002,162.740005,141147500.0,162.501251,6.658804,NaN
2022-02-25,165.119995,160.869995,163.839996,164.850006,91974200.0,164.608154,0.616461,NaN
2022-02-28,165.419998,162.429993,163.059998,165.119995,95056600.0,164.877747,1.263337,NaN
2022-03-01,166.600006,161.970001,164.699997,163.199997,83474400.0,162.960571,-0.910747,NaN
2022-03-02,167.360001,162.949997,164.389999,166.559998,79724800.0,166.315643,1.320031,NaN