In [2]:
"""株価のデータを取得"""
import datetime

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader
import sklearn
import sklearn.linear_model
import sklearn.model_selection

df_aapl = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2020-01-01')
df_meta = pandas_datareader.data.DataReader('FB', 'yahoo', '2020-01-01')
df_gold = pandas_datareader.data.DataReader('GLD', 'yahoo', '2020-01-01')
df_aapl.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-05-31,150.660004,146.839996,149.070007,148.839996,103718400.0,148.839996
2022-06-01,151.740005,147.679993,149.899994,148.710007,74286600.0,148.710007
2022-06-02,151.270004,146.860001,147.830002,151.210007,72232000.0,151.210007