In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df2 = df.copy()
df2['E'] = ['one',  'one', 'two', 'three', 'four', 'three']
"""E列の値で行を抽出"""
df2[df2['E'].isin(['one', 'four'])]

                   A         B         C         D     E
2022-01-01 -0.094152  2.411495  0.063400 -0.351873   one
2022-01-02 -0.822614 -1.254059 -1.012093  0.892679   one
2022-01-05  0.643923 -2.081679 -0.583174 -0.375567  four