In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
"""列の範囲を指定"""
df['20220102':'20220104']

                   A         B         C         D
2022-01-02  0.474938  0.944919 -0.765822 -0.187672
2022-01-03 -0.997117  0.498579  0.668966  0.288908
2022-01-04  0.331079  1.391152 -1.062023 -0.582052