In [2]:
import datetime

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader
import sklearn
import sklearn.linear_model
import sklearn.model_selection

df_aapl = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2020-01-01')
df_meta = pandas_datareader.data.DataReader('FB', 'yahoo', '2020-01-01')
df_gold = pandas_datareader.data.DataReader('GLD', 'yahoo', '2020-01-01')
"""株価の変化率を求める"""
df_aapl['changing'] = (((df_aapl['Close'] - df_aapl['Open'])) / (df_aapl['Open']) * 100)
df_meta['changing'] = (((df_meta['Close'] - df_meta['Open'])) / (df_meta['Open']) * 100)
df_gold['changing'] = (((df_gold['Close'] - df_gold['Open'])) / (df_gold['Open']) * 100)
df_aapl.tail(2).round(2)

              High     Low    Open   Close      Volume  Adj Close  changing
Date
2022-06-02  151.27  146.86  147.83  151.21  72348100.0     151.21      2.29
2022-06-03  147.97  144.46  146.90  145.38  88471400.0     145.38     -1.03