In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
"""locプロパティですべての行を指定"""
df.loc[:, ['A', 'B']]

                   A         B
2022-01-01 -0.963894 -2.225687
2022-01-02 -1.095431  1.521852
2022-01-03  0.504786  0.719135
2022-01-04 -0.983698  0.513307
2022-01-05  0.123881 -2.717262
2022-01-06 -0.203720 -0.746597