In [2]:
import datetime

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader
import sklearn
import sklearn.linear_model
import sklearn.model_selection

df_aapl = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2020-01-01')

"""3つの株価の変化率をグラフにする"""
df_aapl ['label'] = df_aapl['Close'].shift(-30)
df_aapl.tail(35)

,High,Low,Open,Close,Volume,Adj Close,label
Date,,,,,,,
2022-04-14,171.270004,165.039993,170.619995,165.289993,75329400.0,165.047501,149.639999
2022-04-18,166.600006,163.570007,163.919998,165.070007,69023900.0,164.827835,148.839996
2022-04-19,167.820007,163.910004,165.020004,167.399994,67723800.0,167.154404,148.710007
2022-04-20,168.880005,166.100006,168.759995,167.229996,67929800.0,166.984650,151.210007
2022-04-21,171.529999,165.910004,168.910004,166.419998,87227800.0,166.175842,145.380005
2022-04-22,167.869995,161.500000,166.460007,161.789993,84882400.0,161.552628,NaN
2022-04-25,163.169998,158.460007,161.119995,162.880005,96046400.0,162.641037,NaN
2022-04-26,162.339996,156.720001,162.250000,156.800003,95623200.0,156.569962,NaN
2022-04-27,159.789993,155.380005,155.910004,156.570007,88063200.0,156.340302,NaN
2022-04-28,164.520004,158.929993,159.250000,163.639999,130216800.0,163.399918,NaN
2022-04-29,166.199997,157.250000,161.839996,157.649994,131587100.0,157.418701,NaN
2022-05-02,158.229996,153.270004,156.710007,157.960007,123055300.0,157.728256,NaN
2022-05-03,160.710007,156.320007,158.149994,159.479996,88966500.0,159.246017,NaN
2022-05-04,166.479996,159.259995,159.669998,166.020004,108256500.0,165.776428,NaN
2022-05-05,164.080002,154.949997,163.850006,156.770004,130525300.0,156.540009,NaN
2022-05-06,159.440002,154.179993,156.009995,157.279999,116055700.0,157.279999,NaN
2022-05-09,155.830002,151.490005,154.929993,152.059998,131577900.0,152.059998,NaN
2022-05-10,156.740005,152.929993,155.520004,154.509995,115366700.0,154.509995,NaN
2022-05-11,155.449997,145.809998,153.500000,146.500000,142689800.0,146.500000,NaN
2022-05-12,146.199997,138.800003,142.770004,142.559998,182602000.0,142.559998,NaN
2022-05-13,148.100006,143.110001,144.589996,147.110001,113787000.0,147.110001,NaN
2022-05-16,147.520004,144.179993,145.550003,145.539993,86643800.0,145.539993,NaN
2022-05-17,149.770004,146.679993,148.860001,149.240005,78336300.0,149.240005,NaN
2022-05-18,147.360001,139.899994,146.850006,140.820007,109742900.0,140.820007,NaN
2022-05-19,141.660004,136.600006,139.880005,137.350006,136095600.0,137.350006,NaN
2022-05-20,140.699997,132.610001,139.089996,137.589996,137194600.0,137.589996,NaN
2022-05-23,143.259995,137.649994,137.789993,143.110001,117726300.0,143.110001,NaN
2022-05-24,141.970001,137.330002,140.809998,140.360001,104132700.0,140.360001,NaN
2022-05-25,141.789993,138.339996,138.429993,140.520004,92482700.0,140.520004,NaN
2022-05-26,144.339996,137.139999,137.389999,143.779999,90601500.0,143.779999,NaN
2022-05-27,149.679993,145.259995,145.389999,149.639999,90978500.0,149.639999,NaN
2022-05-31,150.660004,146.839996,149.070007,148.839996,103718400.0,148.839996,NaN
2022-06-01,151.740005,147.679993,149.899994,148.710007,74286600.0,148.710007,NaN
2022-06-02,151.270004,146.860001,147.830002,151.210007,72348100.0,151.210007,NaN
2022-06-03,147.970001,144.460007,146.899994,145.380005,88471400.0,145.380005,NaN