In [1]:
"""A列の値が0より大きい行を抽出"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df[df.A > 0]

                   A         B         C         D
2022-01-01  0.911003 -1.002141 -0.797392 -0.337514
2022-01-04  1.179693 -0.365456  0.652465  0.715872
2022-01-06  1.915022 -1.138884  0.435589  0.508299