In [1]:
"""B列の値でソート"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df.sort_values(by='B')

                   A         B         C         D
2022-01-06  1.158216 -1.515249  0.143748  0.935589
2022-01-03 -0.270661 -0.842137 -0.740164 -0.060833
2022-01-05 -0.279937 -0.364837  1.052721 -0.909132
2022-01-04  0.769836  1.063415  0.962210  0.472274
2022-01-02  0.270285  1.401629  1.675531 -1.158370
2022-01-01 -0.036560  1.697824  0.434932 -0.361276