In [1]:
"""0より大きい値を抽出"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df[df > 0]

                   A         B         C         D
2022-01-01  0.722917       NaN  0.188389  0.667193
2022-01-02       NaN       NaN       NaN  1.586067
2022-01-03       NaN  0.168548  0.053794       NaN
2022-01-04  1.267385       NaN  1.575136       NaN
2022-01-05       NaN  0.331244       NaN       NaN
2022-01-06       NaN       NaN       NaN  0.057406