In [1]:
"""0より大きい値を抽出"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df2 = df.copy()
df2['E'] = ['one',  'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2022-01-01  0.634327 -0.160708 -1.204893 -0.110236    one
2022-01-02  0.095349  2.629879 -0.203590 -0.723565    one
2022-01-03  0.488426 -0.765891  1.049726 -0.216598    two
2022-01-04 -0.401396 -0.363015  0.306494 -1.420632  three
2022-01-05  0.915427  0.474158 -1.356699 -0.210379   four
2022-01-06  0.798489  0.642915  1.284028  0.912590  three