In [2]:
"""ランダムな数値からなるDataFrame"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4))
df

          0         1         2         3
0  0.215556  0.466304  0.892664 -0.696464
1 -0.879427 -0.743755 -1.124335 -0.485873
2  0.261433  0.256433  1.872438 -0.521721
3 -1.258935  0.710878  0.921548  1.106660
4  1.650061  2.180435 -0.115508 -0.552536
5 -0.281590 -0.161249 -0.107559  1.182990