In [5]:
"""株価のデータを取得"""
import datetime

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader
import sklearn
import sklearn.linear_model
import sklearn.model_selection
import yfinance

yfinance.pdr_override()

df_aapl = pandas_datareader.data.get_data_yahoo('AAPL', '2020-01-01')
df_meta = pandas_datareader.data.get_data_yahoo('META', '2020-01-01')
df_gold = pandas_datareader.data.get_data_yahoo('GLD', '2020-01-01')
df_aapl.tail(3)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-24,140.309998,143.160004,140.300003,142.529999,142.529999,66435100
2023-01-25,140.889999,142.429993,138.809998,141.860001,141.860001,65799300
2023-01-26,143.169998,144.250000,141.899994,143.960007,143.960007,54003800