In [1]:
"""行の範囲を指定"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df[0:3]

                   A         B         C         D
2022-01-01 -0.473853  0.343174  0.478493 -1.368192
2022-01-02 -0.884126 -0.272706 -0.098487  0.057563
2022-01-03 -0.308660 -0.861267  0.846430  0.567810