In [1]:
"""DataFrameのindexに日付を指定"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6))
df

                   0         1         2         3
2022-01-01 -1.672345 -0.754784  0.033675  1.665611
2022-01-02  1.004056 -0.683699 -0.594825 -0.301372
2022-01-03 -0.012896 -0.863621  1.852837 -1.168827
2022-01-04 -0.910269 -0.256505 -0.449434 -1.377675
2022-01-05  0.238284  1.783569  0.764727 -1.060644
2022-01-06 -1.051254  0.051841 -0.573673  0.755082