In [1]:
"""DataFrameの末尾"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df.tail(3)

                   A         B         C         D
2022-01-04 -0.110620  1.106337 -0.844740  2.455905
2022-01-05 -0.486437  1.134828 -1.106468  0.560775
2022-01-06 -1.761830  1.354470 -0.040792 -0.933170